@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// fonts

$mainFont: 'Roboto', sans-serif;
$subFont: 'Times New Roman', serif;

// colors

$orange: #EA632A;
$gray: #666;
$purple: #8B56EE;
$darkgray: #1a1a1a;
$red: #eb0037;
$white: #fff;
$lightgray: #efeff0;

// font sizes

$small: 12px;
$bold: 700;
$medium: 16px;

// general rules

$padding: 10%;